@import '../../index.scss';

.logo {
    border-radius: 20px;
    height: 65px;
    width: 80px;
}

.shop {
    height: 40px;
    width: 40px;
    margin-right: 10px;

    .cart {
        height: 100%;
        width: 100%;
    }
}

.navContainer {
    background-color: $bg-color;
    //border-bottom: 1px solid blue; /* 검은색 선 추가 */
    //padding-bottom: 10px; /* 필요에 따라 간격 조정 */
    //box-shadow: black;

}

.navCenter {
    display: flex;
    justify-content: center; /* 가운데 정렬 */
    width: 100%;

    a{
        font-weight: bold;
        margin-right: 1rem;
        margin-left: 1rem;
        font-size: 18px;
    }
}

.modeBtn{
    height: 40px;
    width: 7rem;
    margin-right: 1rem;
}

.navdropdown{
    >a:first-of-type{
        background-image: url("../../../../public/image/profile-removebg-preview.png");
        background-size: cover;
        height: 40px;
        width: 40px;
        padding: 0 !important;
        transform: scale(1.5);
        &::after{
            display: none;
        }
    }
    >div{
        //top: 110% !important;
        left: calc(-10rem + 40px) !important;
    }
}