@import '../../Global/color.scss';

.logo {
    border-radius: 20px;
    height: 65px;
    width: 80px;
}

.navbar{
    background-color: $nav-bg-color !important;
}

.shop {
    height: 40px;
    width: 40px;
    margin-right: 10px;

    .cart {
        height: 100%;
        width: 100%;
    }
}
