@import '../index.scss';

$linkbox-width: 300px;
$linkbox-height: 300px;
$linkbox-radius: 32px;
$linkbox-shadow: 0 2px 30px rgba(black, .2);
$text-letter-spacing: .2em;
$text-font-size: 34px;

/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

.container {
  background-color: $bg-color;
  height: 100vh;

  .main {
    display: grid; /* 그리드를 사용 */
    grid-template-columns: repeat(4, minmax(150px, auto)); /* 컬럼 수 조정 */
    padding: 20px;
    border-radius: 32px;

    .box{
      justify-self: center; /* 수평 가운데 정렬 */
      align-self: center;   /* 수직 가운데 정렬 */
      text-align: center;
    }

    .linkbox {
      margin-top: 30%;
      width: $linkbox-width;
      height: $linkbox-height;
      border-radius: $linkbox-radius;
      box-shadow: $linkbox-shadow;
      background: $white-color;
      position: relative;
      overflow: hidden;
      transform: translate3d(0, 0, 0);
      cursor: pointer;

      &:hover{
        box-shadow: 0 2px 30px rgba(black, .5);
        transition: 0.3s ease;
      }
    }

    .img{
      width:100%;
      height:100%;
      object-fit:cover;
    }

    .text {
      position: relative;
      width: 100%;
      text-align: center;
      color: black;
      letter-spacing: $text-letter-spacing;
      font-size: $text-font-size;
      text-indent: .3em;
      font-family: "Black Han Sans", sans-serif;
      font-weight: 400;
      font-style: normal;
      margin-top: 3%;
      cursor: pointer;
      }
    }
}

@media (max-width: 1300px) {
  .linkbox {
    width: 250px !important;
    height: 250px !important;
    border-radius: 20px !important;
  }

  .text {
    font-size: 24px !important;
    line-height: 30px !important;
  }
}

@media (max-width: 1050px) {
  .linkbox {
    width: 200px !important;
    height: 200px !important;
    border-radius: 15px !important;
  }

  .text {
    font-size: 21px !important;
    line-height: 25px !important;
  }
}


