@import '../index.scss';
@import url('https://fonts.googleapis.com/css?family=Mukta:700');

.container{
    height: 100vh;

    .flexcontainer{
        display: flex;
        height: 100%;

        .maincol{
            flex: 3;
            padding: 0;
            height: 100%;
        }
    
        .maincontent{
            height: 100%;
        }

        .logo {
            height: 100%;
            margin-left: 20px;
        }

        .topvar {
            background-color: #fff;
            position: fixed;
            top: 0px; /* 상단에서 10px 띄움 */
            height: 60px;
            z-index: 1;

            .startbtn {
                position: absolute; /* 부모 요소 기준으로 배치 */
                top: 50%; /* 세로 가운데 정렬 */
                right: 10px; /* 오른쪽 끝에서 10px 띄움 */
                transform: translateY(-50%); /* 가운데 정렬을 위해 상하 이동 */
            }
        }

        
    }
}

//버튼
@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
    transition: $property $duration $ease;
}

$white: #fff;
$black: $p-color;

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    &.startbtn {
      width: 12rem;
      height: auto;
      .circle {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: relative;
        display: block;
        margin: 0;
        width: 3rem;
        height: 3rem;
        background: $black;
        border-radius: 1.625rem;
        .icon {
          @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          background: $white;
          &.arrow {
            @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
            left: 0.625rem;
            width: 1.125rem;
            height: 0.125rem;
            background: none;
            &::before {
              position: absolute;
              content: '';
              top: -0.25rem;
              right: 0.0625rem;
              width: 0.625rem;
              height: 0.625rem;
              border-top: 0.125rem solid $white;
              border-right: 0.125rem solid $white;
              transform: rotate(45deg);
            }
          }
        }
      }
      .buttontext {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.75rem 0;
        margin: 0 0 0 1.85rem;
        color: $black;
        font-weight: 700;
        line-height: 1.6;
        text-align: center;
        text-transform: uppercase;
      }
    }
    &:hover {
      .circle {
        width: 100%;
        .icon {
          &.arrow {
          background: $white;
          transform: translate(1rem, 0);
          }
        }
      }
      .buttontext {
        color: $white;
      }
    }
  }


//슬라이드
#root {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
  
.slide_container {
    height: 100%;
    overflow-y: hidden;
    scroll-snap-type: y mandatory;
  }
  
  .slide {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    scroll-snap-align: start;

    .img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .panel {
        color: white;
        position: absolute;  
        right: 5%; 
        bottom: 10%;
        background-color: rgba(75, 86, 105, 0.5);
        border-radius: 30px;
        width: 45%;
        padding: 25px;
        font-weight: bold;
        font-size: 20px;
    }

  }
                

  //슬라이드 dot(컨트롤러)
  .slide_dots {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
  
  .dot {
    width: 15px;
    height: 15px;
    margin: 15px 0;
    background-color: $bg-color;
    border-radius: 50%;
    cursor: pointer;
  }

  .active {
    background-color: $p-color;
  }