@import "../index.scss";

.container{
    height: calc(100vh - 91px);
    background-color: $bg-color;


    .controllerRow{
        height: 10%;
        margin-bottom: 10px;
    }

    .addContentRow{
        height: 12%;
        margin-bottom: 10px;
    }

    .contentRow{
        height: 75%;
    }
    
}

.controller {
    background-color: $white-color;
    height: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    .controllerRow{
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .controlform {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
}

.btn {
    background-color: $p-color !important;
    color : $white-color !important;
    font-weight: bold;

    &:hover {
        background-color: #f87904 !important;
    }
}

.content {
    background-color: $white-color;
    padding: 10px;
    height: 100%;
    overflow-y: auto;
    border: 1px solid lightgrey;
    
    .row {
        margin: 0;
    }

    .excel {
        height: 100%;
        width: 100%;
        padding: 20px 20px;
    }
}

.addContent {
    //background-color: $accent-color;
    background-color: $white-color;
    height: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    .addline {
        border-collapse: collapse; /* 중복된 경계를 제거 */
        margin: 0 auto;
        width: 95%;
        //display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        th:first-child, td:first-child {
            border-left: 0; /* 첫 번째 열에만 왼쪽 경계선 제거 */
        }

        th:last-child, td:last-child {
            border-right: 0; /* 마지막 열에만 오른쪽 경계선 제거 */
        }

        thead tr th{
            border-top: 0; /* 첫 번째 행에만 윗쪽 경계선 제거 */
        }

        tbody tr td{
            border-bottom: 0; /* 첫 번째 행에만 윗쪽 경계선 제거 */
        }

        th, td {
            border: 1px solid #ddd; /* 각 셀에만 border 적용 */
            padding: 8px;
        }

        .text {
            //color: $white-color;
            display: inline-block;
            margin: 0;
        }
    
        .selectSize {
            //width: 50%;
            margin: 0 auto;
        }
    
        .count {
            display: inline-block;
            width: 50%;
            text-align: right;
        }

        .day {
            display: inline-block;
            width: 70%;
        }
    }
}

.addBtn {
    min-width: 5rem !important;
    min-height: 2rem !important;
    margin: 1rem;
    background-color: $primary-color !important;
    color : $white-color !important;
    font-weight: bold;

    &:hover{
        background-color: #0a4eb2 !important;
    }
}

/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
.content::-webkit-scrollbar {
    display: none;
  }