@import '../index.scss';

.container {
    background-color: $bg-color;
    //height: calc(100vh - 91px);
    padding-top: 30px;
    min-height: calc(100vh - 91px); /* 컨테이너 최소 높이를 전체 화면 높이로 설정 */
    display: flex;
    flex-direction: column;

    .main {
        height: 100%;

        .controllerRow {
            height: 15%;
            margin-bottom: 10px;
            position: relative; /* 상대 위치 설정 */
        }

        .addContentRow {
            height: 10%;
            margin-bottom: 10px;
        }
    }
}

.controller {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    border-bottom: 2px solid #ccc;


    .controllerRow {
        width: 100%;
        height: 100%;
        margin: 0;
        position: relative; /* 상대 위치 설정 */
    }

    .controlform {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px;
        position: relative;

        .serch {
            width: 40%;
            display: inline-block;
        }
        .searchContainer {
            position: relative;
            //width: 100%; // 또는 원하는 너비
        }

        .searchInput {
            //width: calc(100% - 40px) !important; // 아이콘을 제외한 전체 너비 설정
            width: 100%;
            padding: 10px 30px 10px 10px; // 오른쪽 패딩을 아이콘 크기만큼 추가
            border: 1px solid #ccc;
            border-radius: 8px;
            font-size: 16px;
        }

        .searchIcon {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            color: #ccc;
            font-size: 20px;
        }

        .serchbtn {
            margin-left: 10px;
        }

        .btn {
            margin-left: 50px;
            background-color: $p-color;
            font-weight: bold;
        }

        .buttonGroup {
            display: flex;
            gap: 10px;

            &.topGroup {
                position: absolute;
                top: 0;
                right: 0;
                transform: translateY(-90%); /* 부모 요소의 위쪽으로 50% 이동 */
                justify-content: flex-end;
            }

            &.middleGroup {
                width: 80%; /* 중간 그룹이 너무 많은 공간을 차지하지 않도록 설정 */
                justify-content: center;
                margin-top: 20px; /* 중간 그룹의 위쪽 간격 조정 */
            }

            .button{
                color: white;
                background: $p-color;
            }

            .button:hover{
                color: white;
                background: #f5913b;
                transition: background 0.3s ease, color 0.3s ease;
            }
        }
    }
}

//.serch {
//    flex-grow: 1; // input 박스가 버튼 그룹 내에서 가능한 많은 공간을 차지하게 함
//}

.content {
    //background-color: $white-color;
    height: 100%;
    overflow-y: auto;
    //border: 1px solid lightgrey;
    //border-radius: 5px;

    .scroll {
        position: absolute;
    }

    .item {
        border-radius: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .zeroCount {
        filter: brightness(0.6); /* 어두운 외관 */
    }

    .line {
        background-color: $white-color;
        //padding: 10px;
        //background-color: rgba(255, 255, 255, 0.5);
        border-radius: 15px;
        width: 180px;
        height: 250px;
        position: relative;
        display: flex;
        //padding: 5px;
        margin: 0 auto 30px;
        justify-content: center;
        align-items: center;
        text-align: center;
        //border-radius: 5px;
        //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease;

        &:hover {
            transform: translateY(-10px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            .btn, .delBtn, .infoBtn {
                opacity: 1;
            }
            .ingredient {
                filter: brightness(0.5);
                box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
            }
        }

        .ingredient {
            position: relative;
            border-radius: 15px;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            background-size: contain;  // 이미지를 가로 크기에 맞추고, 세로는 비율에 맞게 조정
            background-repeat: no-repeat;  // 이미지가 반복되지 않도록 설정
            overflow: hidden;
            transition: box-shadow 0.3s ease, filter 0.3s ease;
            filter: brightness(1);
        }

        .title {
            font-weight: bold;
            color: black;
            position: absolute;
            bottom: 5%;
            width: 100%;
        }

        .text {
            display: inline-block;
            margin: 0;
        }

        .btn {
            background-color: $p-color;
            left: 0;
            border-top-left-radius: 0;  // 오른쪽 위 모서리 둥글기 제거
            border-top-right-radius: 0;  // 오른쪽 위 모서리 둥글기 제거
            border-bottom-right-radius: 0;  // 오른쪽 아래 모서리 둥글기 제거
            //border-radius: ;

            &:hover {
                background-color: darken($p-color, 10%); // 호버 시 배경색 어둡게
            }
        }

        .delBtn {
            background-color: $danger-color;
            right: 0;
            border-top-right-radius: 0;  // 오른쪽 위 모서리 둥글기 제거
            border-top-left-radius: 0;  // 오른쪽 위 모서리 둥글기 제거
            border-bottom-left-radius: 0;  // 오른쪽 아래 모서리 둥글기 제거

            &:hover {
                background-color: darken($danger-color, 10%); // 호버 시 배경색 어둡게
            }
        }

        .btn, .delBtn {
            color: $white-color;
            font-weight: bold;
            height: 70px;
            position: absolute;
            width: 50%;
            bottom: 0;
            opacity: 0; // 기본적으로 숨김
            transition: opacity 0.3s ease, background-color 0.3s ease, transform 0.3s ease, font-size 0.3s ease; // 호버 시 애니메이션

            &:hover {
                cursor: pointer;
                transform: scale(1.05); // 살짝 확대
                z-index: 999;
            }
        }

        .infoBtn {
            opacity: 0;
            position: absolute;
            top: 10px;  // 버튼 위치를 조정
            right: 10px;  // 버튼 위치를 조정
            background-color: transparent;  // 배경 투명하게
            border: none;
            color: $p-color;  // 아이콘 색상 설정
            transition: opacity 0.3s ease, background-color 0.3s ease, transform 0.3s ease, font-size 0.3s ease; // 호버 시 애니메이션
            cursor: pointer;

            &:hover {
                color: $primary-color;  // 호버 시 색상 변경
                transform: scale(1.2); // 살짝 확대
            }
        }

        .count {
            margin-left: 10px;
            display: inline-block;
            width: 30%;
            text-align: right;
        }
    }

    .addIngredient {
        cursor: pointer;
        transition: opacity 0.3s ease, background-color 0.3s ease, transform 0.3s ease, font-size 0.3s ease; // 호버 시 애니메이션

        &:hover {
            filter: brightness(0.9);
        }
    }

    .select {
        border-radius: 15px;
        border: 3px solid $p-color;
    }
}

.addContent {
    background-color: $white-color;
    height: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    .addline {
        margin: 0 auto;
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .text {
            color: $white-color;
            display: inline-block;
            margin: 0;
        }

        .btn {
            margin: 5px;
            background-color: $p-color;
            color: $white-color;
            font-weight: bold;
        }

        .addBtn {
            margin: 5px;
            background-color: $primary-color;
            color: $white-color;
            font-weight: bold;
        }

        .count {
            margin-left: 10px;
            display: inline-block;
            width: 30%;
            text-align: right;
        }
    }
}

.button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    transition: box-shadow 0.3s ease;

    &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(100, 149, 237, 0.5);
    }

    &:active {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
}

.buttonContainer {
    display: flex;
    gap: 10px;
}