@import '../index.scss';

.container {
  height: 100%;
  background-color: $bg-color;
  .rowContainer {
    background-color: $bg-color;
    min-height: 90vh;
    .row{
      min-height: 85vh;
      .searchCol{
        padding: 1.5rem !important;
        margin: 0 auto;
        width: 60%;
        min-width: 800px;
        background-color: #FFFFFF;
        border-radius: 2rem;
        min-height: 85vh;
        margin-bottom: 1rem;

        .header{
          font-weight: 800;
          padding-bottom: 10px;
        }

        .searchGroup {
          display: flex;
          align-items: center;
          margin-bottom: 1rem;

          .form {
            flex: 1;
            padding: 0.5rem;
            border: 1px solid $p-color;
            border-radius: 4px 0 0 4px;
            font-size: 1rem;

            &:focus{
              border: none;
            }
          }

          .searchButton {
            padding: 0.5rem 1rem;
            border: 1px solid $p-color;
            border-left: none;
            border-radius: 0 4px 4px 0;
            background-color: $p-color;
            color: #fff;
            font-size: 1rem;
            cursor: pointer;

            &:hover {
              background-color: darken($p-color, 10%);
            }
          }
        }

        .tableContainer{
          .table{
            width: 100%;
            border-collapse: collapse;
            margin-top: 1rem;

            // 테이블 헤더 스타일
            thead {
              background-color: $p-color; // 주요 색상으로 헤더 배경 설정
              color: #fff; // 헤더 텍스트 색상
              font-weight: bold;

              th {
                padding: 0.75rem;
                text-align: center;
                border-top: 2px solid lighten($p-color, 20%); // 세로 테두리 제거하고 위쪽 테두리만 남김
                border-bottom: 2px solid lighten($p-color, 20%); // 아래쪽 테두리만 적용
                font-size: 1rem;
                border-left: none;
                border-right: none;
              }
            }

            // 테이블 본문 스타일
            tbody {
              background-color: #fff;
              tr {
                background-color: #fff; // 줄무늬 배경색 (홀수 행)
                /*&:nth-child(even) {
                  background-color: #f9f9f9; // 줄무늬 배경색 (홀수 행)
                }*/

                &:hover {
                  background-color: lighten($p-color, 40%); // 마우스 hover시 배경 색상
                  cursor: pointer;
                }
              }

              td {
                font-weight: 500;
                padding: 0.75rem;
                text-align: center;
                font-size: 0.9rem;
                border-left: none;
                border-right: none;
                border-top: 1px solid #ddd; // 세로 테두리 제거하고 위쪽과 아래쪽만 남김
              }
            }

            // 전체 테두리
            border-top: 1px solid #ccc; // 세로 테두리 없이 위, 아래만 테두리 남김
            border-bottom: 1px solid #ccc;
            border-radius: 4px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
          }

          .pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;

            Button {
              padding: 0.5rem 1rem;
              margin: 0 0.2rem;
              border: 1px solid $p-color;
              background-color: $p-color;
              color: #fff;
              font-size: 1rem;
              border-radius: 4px;
              cursor: pointer;

              &:hover {
                background-color: lighten($p-color, 40%);
                color: darken($p-color, 20%);
              }

              &.active {
                background-color: $p-color;
                color: #fff;
                font-weight: bold;
                cursor: default;
              }

              &:disabled {
                background-color: #e9ecef;
                color: #6c757d;
                cursor: not-allowed;
              }
            }

            input[type="number"] {
              width: 3rem;
              padding: 0.5rem;
              margin-left: 0.5rem;
              margin-right: 0.5rem;
              border: 1px solid $p-color;
              border-radius: 4px;
              font-size: 1rem;
              text-align: center;

              &:focus {
                outline: none;
                border-color: darken($p-color, 10%);
              }
            }
            input[type="number"] {
              -moz-appearance: textfield; /* Firefox */
              appearance: textfield;      /* 기본 브라우저 */
            }

            input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button {
              -webkit-appearance: none;  /* Chrome, Safari, Edge */
              margin: 0;
            }
          }
        }
      }
    }
  }
}