@import '../index.scss';

.aiSimpleSearchContiner{
  height: 100%;
  background-color: $bg-color;

  .aiSimpleSearchContinerRow{
    background-color: $bg-color;
    min-height: 90vh;

    .aiSearchMainCol {
      padding: 1.5rem !important;
      border-radius: 2%;
      min-height: 85vh;
      height: 100%;
      background-color: #FFFFFF;
    }
  }
}

// 내 재료 선택 영역
.foodTypeGroup {
  border: 1px solid $p-color;
  padding : 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row; // 체크박스를 라벨의 오른쪽에 배치

  > label {
    width: 6rem;
    text-align: center;
    justify-content: center; // 텍스트 좌우 가운데 정렬
  }

  .foodTypeLabel {
    font-size: 1.2rem;
    font-weight: bold;
    color: #4A4A4A;
    display: flex;
    align-items: center;
  }

  .checkboxContainer {
    display: flex; // 가로로 배치
    flex-wrap: wrap; // 체크박스가 넘치면 다음 줄로 배치
  }

  .check{
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;

    input[type="checkbox"] {
      display: none;
    }

    label {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 0.5rem 1rem;
      border: 1px solid $p-color; // 외곽선 색상
      border-radius: 0.5rem;
      transition: background-color 0.3s ease, border-color 0.3s ease;

      &:hover {
        background-color: lighten($p-color, 20%); // 호버 시 밝은 색상
        border-color: lighten($p-color, 10%);
      }
    }

    input[type="checkbox"]:checked + label {
      background-color: $p-color; // 선택된 상태의 배경색
      color: white; // 글자색 흰색으로
    }
  }
}

// 선택된 재료 영역
.checkedIngredientContainer{
  margin-top: 2vh;

  .card {
    background-color: $accent-color;
    color: #FFFFFF;
  }

  .title{
    font-size: 2rem;
    border-bottom: #FFFFFF solid 2px;
  }

  .list {
    font-size: 1.3rem;
  }
}

// 레시피 검색 개수 설정 영역
.aiSearchNumberContainer{
  width: 15rem;
  margin-top: 2vh;
  margin-bottom: 2vh;

  .inputGroup{
    background-color: $p-color;
  }

  .aiSearchButton{
    padding: 0.5rem 1rem;
    border: 1px solid $p-color;
    border-left: none;
    border-radius: 0 4px 4px 0;
    background-color: $p-color;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      background-color: darken($p-color, 20%);
      border: 1px solid $p-color;
    }
  }
}

// 레시피 결과 리스트 영역
.aiSearchListContainer{

  .recipeCard
  {
    border: solid 2px $accent-color;
    margin-bottom: 2vh;

    .hearder
    {
      background-color: #FFFFFF;
    }

    // 레시피 제목 부분
    .recipeTitleCol
    {
      //text-align: center;
      font-size: 1.5rem;
      //color: $p-font-color;
    }

    // 레시피 상세보기 버튼 부분
    .recipeDetailSearchCol
    {
      text-align: right;

      .recipeDetailSearchButton
      {
        width: 30%;
        border: 3px solid $p-color;
        color: $p-color;
        font-size: 1.2rem;
        background-color: #FFFFFF;
        font-weight: 800;
      }

      .recipeDetailSearchButton:hover
      {
        font-size: 1.2rem;
        background-color: $p-color;
        color: #FFFFFF;
      }
    }

    .recipeText
    {
      color: $p-font-color;
    }
  }
}

// 부트스트랩 기준 md: 중형 (Medium, ≥768px)
@media (max-width: 767px)
{
  // 레시피 제목 부분
  .recipeTitleCol
  {
    text-align: center;
    font-size: 1.5rem;
    //color: $p-font-color;
  }

  // 레시피 상세보기 버튼 부분
  .recipeDetailSearchCol .recipeDetailSearchButton
  {
    //background-color: #CBECFF;
    margin-left: 0;
    padding-left: 0;
    flex-grow: 1;
  }

  .recipeDetailSearchCol {
    display: flex;
    justify-content: flex-end;
  }

}

.modal_container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.loader {
  width: 700px;
  height: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin .6s linear infinite reverse;

    .character {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      animation: spin 1s infinite ease-in-out;
    }

    .character::after {
      background-image: url('../../assets/Character/char.png');
      background-size: cover;
      position: absolute;
      content: '';
      width: 250px;
      height: 250px;
      top: 0;
    }
}

.loading {
  position: absolute;
  z-index: 1;
  
  .text {
    font-size: 50px;
    font-weight: bold;
    color: #fff;
  }
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}